.texts {
    font-size: 30px;
  
}
.textColor {
    color: #286090;
}
.buttonRed {
    background-color: red;
    border-radius: 50%;
}
.buttonBlue {
    background-color: #286090;
    border-radius: 50%;
}
.solid {border-style: solid;
    border-width: medium;
}
